# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore system files
.DS_Store

# Ignore VS Code settings directory
.vscode/

# Ignore Git configuration files and directories (if not needed)
.git/
.gitattributes
